@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto:wght@400;500&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  html {
    /* 62.5% of 16px base font size is 10px */
    font-size: 62.5%;
  }
    /* --------------------------pre-defined code ends------------------------------ */
   body{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.6rem;
    color: #333333;
   }
   .text-color-white{
    color: #FFFFFF;
   }
   .text-color-orange{
    color: #FF7000;
   }
   .text-color-grey{
    color: #666666;
  }
  .text-color-black{
    color: #000000;
  }
  .text-style-lora{
    font-family: 'Lora';
    font-weight: 700;
  }
  .background-color{
    background: #FF7000;
  }
   /* .text-clr-lgtblk{
    color: #333333;
   } */
  .nav-bar>h5{
    font-size: 1.8rem;
    display: inline;
    margin-left: 50px;
  }
   .donate-btn{
    font-size: 1.9rem;
    color: #FFFFFF;
    background: #FF7000;
    border-radius: 5px;
    padding: 20px 25px; 
  }
  
  .first-logo{
    padding-bottom:30px;
    padding-top: 30px;
  }

  .hero-heading-text{
    font-weight: 700;
    font-size: 5.4rem;
    color: #1100D2;
  }
  .black-color,.scnd-heading{
    color: #333333;
  }
  .background-img{
    background-image: url(../images/Image.png);
    height: 88vh;
  }
  .scnd-heading{
    font-weight: 700;
    font-size: 5.4rem;
    margin-top: 125px;
    margin-bottom: 75px;
    text-align: center;
  }

  .frst-sctn-dis,.scnd-sctn-text,.text-color-grey{
     font-size: 1.6rem; 
     margin-top:25px ;
     margin-bottom:50px ;
  }
  .scnd-sctn-text{
   margin-top: 0;
   margin-bottom:100px;
   text-align: center;
  }
  
  /* <!---DRY--> */
 .hero-heading-text,.scnd-heading{
      font-family: 'Lora';
   }
    .orange-bg{
    border-radius:50%;
    width: 90px;
    height: 90px;
    background: #FF7000;
    margin: 0 auto;
    }
    .scnd-caption{
      font-family: 'Lora';
      font-weight: 700;
      font-size: 2.8rem;
      color: #000000;
      /* margin-bottom: 25px; */
    }
   .scnd-tagline{
    margin-top: 25px; 
    margin-bottom: 0px;
    
   }
   .scnd-dscrpt{
    margin-bottom: 70px;
    margin-top: 40px;
   }
    .cause-btn{
      margin-top:60px;
      margin-bottom: 135px;
    }
    
    .icon-txt{
      /* padding:0px 60px 80px 70px; */

    }
    .third-bg-img{
      background-image: url(../images/Bg\ Image\ Dark.png);
      height: 100vh;
    }
    .Urgent-heading{
      font-family: 'Lora';
      font-weight: 700;
      font-size: 5.4rem;
      color: #FF7000;
      padding-top: 140px;
      padding-bottom: 120px;
    
    }
    .white-hdng{
      color: #FFFFFF;
    }
    .urgent-dscrptn{
      font-family: 'Lora';
      font-weight: 700;
      font-size: 5.4rem;
      color: #FF7000;
        }
    .urgent-para{
      color: #666666;;
      font-size: 1.6rem;
      margin-top: 30px;
    }
    .dnt-text{
      font-family: 'Lora';
      font-weight: 700;
      font-size: 2.1rem;
       color: #FF7000;
       margin-top: 65PX;
       margin-bottom:15px;
    }
    .dnt-percent,.colored-white{
        font-size: 1.6rem;
        color: #FFFFFF;
        margin-top: 65px;
        margin-bottom:10px;
    }
    .progress{
      background: #FF7000;
      border-radius: 5px;
    }
   .urg-dollarline,.colored-white{
    font-family: 'Lora';
    font-weight: 700;
    font-size: 2.1rem;
    color: #FF7000;
    margin-top: 14px;
    margin-bottom: 236px;
   }
   .colored-white{
    color: #FFFFFF;
   }
   .urgent-bg{
    background-image: url(../images/Image\ \(2\).png);
    width: 570px;
    height: 436px;
    background: #333333;
    border-radius: 20px;
   }
   .urgent-dnt-img{
    padding: 60px 128px 40px 128px;
   }
  
   .help-hdng,.hlp-color-txt{
    font-family: 'Lora';
    font-weight: 496;
    font-size: 50px;
    color: #333333;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 80px;
  }
  .hlp-color-txt{
    color:#ff7000;
     margin-top: 100%;
  }
  .help-discrptn{
    font-size: 1.6rem;
    text-align: center;
    color: #666666;
    margin-bottom: 90px;
  }
  .hlp-txt{
    font-family: 'Lora';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    padding: 35px 50px 0px 30px;
  }
  .hlp-disc{
    font-size: 1.6rem;
    color: #666666;
    paddind:0px 30px 40px 35px;
    /* margin-top: 20px; */
  }
    .help-img{
      border-radius:5px 5px 0px 0px;
      width: 370px;
      height: 271px;
      background: #333333;
  
    }
    .hlp-txt-bg{
      background: #F8F8F8;
      margin-right :30px;
      width: 370px;
    }
    .gry-txt{
      border-radius: 0px 0px 5px 5px;
    }

    .fifth-bg-img{
      background-image: url(../images/Bg\ Image\ Light.png);
      height: 100vh;
    }
    
    .choose-hdng{
      font-family: 'Lora';
      font-weight: 700;
     font-size: 5.4rem;
     color: #333333;
     padding-top: 120px;
    
    }
    .color-hdng{
      font-family: 'Lora';
      font-weight: 700;
     font-size: 5.4rem;
     color: #ff7000;
    }
    .choose-disc{
       font-size: 1.2rem;
       color: #666666;
       margin-top: 70px;
       margin-bottom: 50px;
    } 
    .youtube-video{
      width: 350px;
      height: 315px;
    }
    .amount-bg-img{
      width: auto;
      height: 390px;
      background: #222222;
    }
    .white-bg{
      border-radius:50%;
      width: 90px;
     height: 90px;
     background: #FFFFFF;
     margin-top: 160px;
     margin-bottom: 190px;
    }
    
    .amount-number{
      font-weight: 700;
      font-size: 4.5rem;
      color: #FFFFFF;
      margin-top: 165px ;
      margin-left: 20px;
    }
    .amount-txt{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-left: 20px;
    }
    .contact-hdng{
      font-family: 'Lora';
      font-weight: 700;
      font-size: 5.4rem;
      color: #000000;
      margin-top: 130px;
    }
    .cnt-sub-hdng{
      font-weight: 400;
      font-size: 1.6rem;
      color: #000000;
     margin-top: 10px;
     margin-bottom: 200px;
    }
  .msg-hdng{
    font-family: 'Lora';
    font-weight: 700;
    font-size: 5.4rem;
    color: #333333;
  }
  .msg-color-txt{
    color: #ff7000;
  }
  .msg-text{
  font-weight: 400;
  font-size: 1.6rem;
  color: #666666;
  margin-top: 100px;
  margin-bottom: 70px;
  }
  .cnt-details{
   color: #666666;
   width: 100%;
   
  }
  .cnt-details>.row{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .cnt-btn{
    margin-bottom: 50px;
  }
  .label{
    display: block;
  }
  .last-heading{
    padding-top: 70px;
    padding-bottom: 40px;
  } 
  .send-msg{
    margin-bottom: 70px;
  }
  .last-dnt-btn{
    background: #333333;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .last-dnt-text{
    padding-top: 15px;
    padding-bottom:20px;
  }
 .footer-bg-img{
  background: #222222;
  height: 100vh;
 }
 .footer-text{
   font-weight: 400;
   font-size: 1.6rem;
   color: #FFFFFF;

 }
 .footer-align{
  padding-top: 200px;
 }
 /* .last-third-sctn{
  margin-top: 15px;
  margin-bottom: 15px;
 } */
 .copyright{
  margin-top: 50px;
  margin-bottom: 50px;
 }
 .copyright-txt{
  padding-top: 160px;
 }

    

  

